footer{
    background-color:palevioletred;
    padding: 0;
    height: 90px;
    margin: 0;
    color: black;
    display: flex;
    justify-content: space-between;
}
footer > div {
    padding-inline: 8px;
    align-self: center;
}

nav  img {
    height: 45px;
    width: 45px;
}
nav{
    display: flex;
    justify-content: space-around;
}

.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
