@import "button.css";

main{
    min-height:100vh;
    background-color:darkgray;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}
.songList li{
    margin: 10px;
}
button{
    margin-block: 12px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    justify-content: space-around;
    min-height: 300px;
    max-width: 300px;
}
li{
    list-style-type: none;
}

.navLink{
    /* text-decoration:underline; */
    color:darkslateblue;
}
.navLink:hover{
    text-decoration:underline;
    color:blueviolet;
}

