@import "button.css";

main{
    min-height: 100vh;
    background-color:darkgray;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.songList li{
    margin: 10px;
}
button{
    margin-bottom: 80px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    justify-content: space-between;
    min-height: 300px;
    max-width: 300px;
}
li{
    list-style-type: none;
}